<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Colors!</title>
  </head>
  <body>
    <button id="rectangle">Add Blocks!</button>
    <button id="circle">Add Circles!</button>
    <p>Inspired by <a href="http://colorpage.herokuapp.com/">Color Page</a></p>
    <p>Check it out on <a href="https://github.com/kdoyne/colorblock">Github</a>
    <script type="text/javascript" src="/script.js"></script>
  </body>
</html>