<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <title>Colors!</title>
  </head>
  <body>
    <button>Add Colors!</button>
    <p>Inspired by <a href="http://colorpage.herokuapp.com/">Color Page</a>
    <script type="text/javascript" src="/script.js"></script>
  </body>
</html>